<!-- layouts/home.handlebars -->
<!-- Basic home filler page, will replace with other stuff later -->

<section>
    <p id="home-descript">Welcome! Please make a selection from the navigation bar for what you would like to do!</p>
</section>