<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title>Grapevine</title>
        <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/css/site.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    </head>
    <body>
<<<<<<< HEAD
        {{{body}}}
=======
        <header>
            <div class="navbar">
                <a href="/songs">Home</a>
                <a href="/users">Users</a>
                <a href="/songs/uploaded">My Songs</a>
                <a href="/users/new">Create an Account</a>
                <a href="/songs/new">Post a Song</a>
                <a href="/login">Sign in</a>
                <a href="/logout">Sign out</a>
            </div>
        </header>
        <h1>Grapevine</h1>
        <main>
            {{{body}}}
            <!-- 3 handlebars for including html rendering, 2 handlebars for raw text -->
        </main>
        <footer>Created by Meghana Bhat, Kirsten Meidlinger, Ashish Negi and Paul Szenher</footer>
        <script src="/public/js/songs.js"></script>
>>>>>>> 14b8b00476a7c7a183af41163d66c46a451a8bc3
    </body>
</html>