<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title>Music Sharing Platform</title>
        <link type="text/css" rel="stylesheet" href="./normalize.css" />
        <link rel="stylesheet" type="text/css" href="./site.css">
    </head>
    <body>
        <header>
            <div class="navbar">
                <a href="../">Home</a>
                <a href="/users">Users</a>
                <a href="/songs">Songs</a>
                <a href="/users/new">Create an Account</a>
                <a href="/songs/new">Post a Song</a>
            </div>
        </header>
        <br><br>
        <h1>Music Sharing Platform</h1>
        <main>
            {{{body}}}
            <!-- 3 handlebars for including html rendering, 2 handlebars for raw text -->
        </main>
        <footer>Created by Meghana Bhat, Kirsten Meidlinger, Ashish Negi and Paul Szenher</footer>
    </body>
</html>