<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title>Music Sharing Platform</title>
        <!-- <link rel="stylesheet" type="text/css" href="../public/style.css"> -->
    </head>
    <body>
        <header>
            <div class="navbar">
                <a href="../">Home</a>
                <a href="">Profile</a>
                <a href="/logout">Sign out</a>
            </div>
        </header>
        <p>I will be on every page of the site: main.handlebars</p>
        <main>
            {{{body}}}
            <!-- 3 handlebars for including html rendering, 2 handlebars for raw text -->
        </main>
        <footer>Created by Meghana Bhat, Kirsten Meidlinger, Ashish Negi and Paul Szenher</footer>
    </body>
</html>