<!-- comments/index.handlebars -->
<!-- Representation of a list of comments -->
<section>
    <h2>Comments</h2>
    {{#each comments}}
    <article class="comment">
        <label for="comment-content">from {{userName}}</label>
        <p id="comment-content">{{content}}</p>
    </article>
    {{/each}}
</section>