<!-- comments/new.handlebars -->
<!-- For adding new comment to the database -->
<!-- layouts/home.handlebars -->
<!-- Basic home filler page, will replace with other stuff later -->

<header>
    <div class="navbar">
        <a href="/home">Home</a>
        <a href="/songs">Songs</a>
        <a {{#if logged_in}}class="hidden-nav"{{/if}} href="/login">Log In</a>
        <a {{#if !logged_in}}class="hidden-nav"{{/if}} href="/logout">Log Out</a>
        <a {{#if logged_in}}class="hidden-nav"{{/if}} href="/users/new">Create an Account</a>
        <a {{#if !logged_in}}class="hidden-nav"{{/if}} href="/songs/new">Post a Song</a>
    </div>
</header>
<h1>Grapevine</h1>
<main>
  <section>
    <article class="new-comment">
      <h1 id="comment-page-title">Leave a Comment on {{song.title}}</h1>
      <form action="/comments" method="POST" class="new-comment-form">
        <div class="comment-questions">
          <input type="hidden" id="userId" name="userId" value="{{user._id}}">
          <input type="hidden" id="songId" name="songId" value="{{song._id}}">
          
          <div class="comment-container">
            <textarea id="comment-content" name="content" rows="4" placeholder="Comment Content" class="full-width-input"></textarea>
          </div>
          <div class="button-container">
            <button type="submit" class="submit">Post Comment</button>
          </div>
        </div>
      </form>
      <!-- implement error list later
      {{#if hasErrors}}
      <ul class="error-list">
        {{#each errors}}
        <li>
          {{this}}
        </li>
        {{/each}}
      </ul>
      {{/if}}
      -->
    </article>
  </section>
</main>
<footer>Created by Meghana Bhat, Kirsten Meidlinger, Ashish Negi and Paul Szenher</footer>
