<!-- comments/single.handlebars -->
<!-- Representation of a single comment -->

<article class="comment">
    <!-- Needs to be reformatted, everything is shown just for testing purposes, FIX single.handlebars TOO -->
    <p>songId: {{comment.songId}}, userId: {{comment.userId}}</p>
    <p>content: {{comment.content}}</p>
    <!-- Might want to add 3 handlebars for content if we want to allow HTML in comment content -->
</article>