<!-- comments/single.handlebars -->
<!-- Representation of a single comment -->

<header>
    <div class="navbar">
        <a href="/home">Home</a>
        <a href="/songs">Songs</a>
        <a {{#if logged_in}} href="/logout">Log Out {{else}} href="/login">Log In {{/if}} </a>
        <a {{#if logged_in}} style="display:none;" {{/if}} href="/users/new">Create an Account</a>
        <a {{#if logged_in}} style="display:inline;" {{else}} style="display:none;" {{/if}} href="/songs/new">Post a Song</a>
    </div>
</header>
<h1>Grapevine</h1>
<main>
    <section>
        <article class="comment">
            <label for="comment-content">from {{comment.userId}}</label>
            <p id="comment-content">{{comment.content}}</p>
        </article>
    </section>
</main>
<footer>Created by Meghana Bhat, Kirsten Meidlinger, Ashish Negi and Paul Szenher</footer>