<section>
    <article class="login">
        <h2>Login Page</h2>
        <form action="/login" method="POST" id="login-form">
            <div id="login-questions">
                <div class="input-container">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="username" class="full-width-input" />
                </div>
                <div class="input-container">
                    <label>Password</label>
                    <input type="text" id="password" name="password" placeholder="password" class="full-width-input" />
                </div>
            </div>
            <div class="button-container">
                <button type="submit">Submit</button>
            </div>
            <p id="sign-up-link">Don't have an account? <a href="users/new">Sign Up</a></p>
        </form>
    </article>
</section>