<article>
    
    <h1>Login Page</h1>

    <p>
        This is a login page Please provide required details to login.
    </p>

    <form action="/login" method="POST" id="login-form">
        <label >            
            User name
            <input type="text" id="username" name="email" placeholder="username" 
                class="full-width-input" />
        </label>
         <label >            
            Password
            <input type="text" id="password" name="password" placeholder="password" 
                class="full-width-input" />
        </label>
        <button type="submit">Submit</button>

        <p>Don't have an account?</p>
        <a href="users/new"> Sign Up </a>

    </form>
</article>