<!-- users/new.handlebars -->
<!-- For adding new user to the database -->

<header>
    <div class="navbar">
        <a href="/songs">Home</a>
        <a href="/songs/uploaded">Songs</a>
        <a {{#if logged_in}} href="/logout">Log Out {{else}} href="/login">Log In {{/if}} </a>
        <a {{#if logged_in}} style="display:none;" {{/if}} href="/users/new">Create an Account</a>
        <a {{#if logged_in}} style="display:inline;" {{else}} style="display:none;" {{/if}} href="/songs/new">Post a Song</a>
        <a {{#if logged_in}} style="display:inline;" {{else}} style="display:none;" {{/if}} href="/users/profile">Profile</a>
    </div>
</header>
<h1>Grapevine</h1>
<main>
  <section>
    <article class="new-user">
      <h2>Create an Account</h2>
      <form action="/users" method="POST" id="new-user-form">
        <div id="user-questions">
          <div id="user-questions1" class="sub-entry">
            <div class="input-container">
              <label for="first-name">First Name</label>
              <input type="text" id="first-na,e" name="firstName" placeholder="First Name" class="full-width-input" />
            </div>

            <div class="input-container">
              <label for="last-name">Last Name</label>
              <input type="text" id="last-name" name="lastName" placeholder="Last Name" class="full-width-input" />
            </div>

            <div class="input-container">
              <label for="email">Email</label>
              <input type="text" id="email" name="email" placeholder="Email" class="full-width-input" />
            </div>

            <div class="input-container">
              <label for="password">Password</label>
              <input type="text" id="password" name="password" placeholder="Password" class="full-width-input" />
            </div>

            <div class="input-container" id='checkbox-container'>
              <p>What music are you interested in?</p>
              <input type="checkbox" id="rock-checkbox" name="interested" value="rock">
              <label for="rock-checkbox">Rock</label><br>
              <input type="checkbox" id="pop-checkbox" name="interested" value="pop">
              <label for="pop-checkbox">Pop</label><br>
              <input type="checkbox" id="indie-checkbox" name="interested" value="indie">
              <label for="indie-checkbox">Indie</label><br>
              <input type="checkbox" id="classical-checkbox" name="interested" value="classical">
              <label for="classical-checkbox">Classical</label><br>
            </div>
          </div>

          <div id="user-questions2" class="sub-entry">
            <div class="input-container">
              <label for="gender">Gender</label>
              <input type="text" id="gender" name="gender" placeholder="Gender" class="full-width-input" />
            </div>

            <div class="input-container">
              <label for="city">City</label>
              <input type="text" id="state" name="city" placeholder="City" class="full-width-input" />
            </div>

            <div class="input-container">
              <label for="state">State</label>
              <input type="text" id="state" name="state" placeholder="State" class="full-width-input" />
            </div>

            <div class="input-container">
              <label for="age">Age</label>
              <input type="number" id="age" name="age" placeholder="Age" class="full-width-input" />
            </div>

            <div class="input-container" id="bio-container">
              <label for="bio">Biography</label>
              <textarea id="bio" name="bio" rows="4" placeholder="Biography" class="full-width-input"></textarea>
            </div>
          </div>
          
          <div class="button-container">
            <button type="submit" class="submit">Create Account</button>
            <button type="reset">Clear Form</button>
          </div>
          <br>
          <div class="input-container">
            <p id="log-in-link">Already have an account? <a href="/login">Sign In</a></p>
          </div>
        </div>
      </form>
    </article>
  </section>
</main>
<footer>Created by Meghana Bhat, Kirsten Meidlinger, Ashish Negi and Paul Szenher</footer>