<!-- users/new.handlebars -->
<!-- For adding new user to the database -->
<section>
  <article class="new-user">
    <h2>Create an Account</h2>
    <form action="/users" method="POST" id="new-user-form">
      <div id="user-questions">
        <div id="user-questions1" class="sub-entry">
          <div class="input-container">
            <label for="first-name">First Name</label>
            <input type="text" id="first-na,e" name="firstName" placeholder="First Name" class="full-width-input" />
          </div>

          <div class="input-container">
            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" name="lastName" placeholder="Last Name" class="full-width-input" />
          </div>

          <div class="input-container">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Email" class="full-width-input" />
          </div>

          <div class="input-container">
            <label for="password">Password</label>
            <input type="text" id="password" name="password" placeholder="Password" class="full-width-input" />
          </div>

          <div class="input-container" id='radio-container'>
            <p>What music are you interested in?</p>
            <input type="radio" id="rock-radio" name="interested" value="rock">
            <label for="rock-radio">Rock</label><br>
            <input type="radio" id="pop-radio" name="interested" value="pop">
            <label for="pop-radio">Pop</label><br>
            <input type="radio" id="indie-radio" name="interested" value="indie">
            <label for="indie-radio">Indie</label><br>
            <input type="radio" id="classical-radio" name="interested" value="classical">
            <label for="classical-radio">Classical</label><br>
          </div>
        </div>

        <div id="user-questions2" class="sub-entry">
          <div class="input-container">
            <label for="gender">Gender</label>
            <input type="text" id="gender" name="gender" placeholder="Gender" class="full-width-input" />
          </div>

          <div class="input-container">
            <label for="city">City</label>
            <input type="text" id="state" name="city" placeholder="City" class="full-width-input" />
          </div>

          <div class="input-container">
            <label for="state">State</label>
            <input type="text" id="state" name="state" placeholder="State" class="full-width-input" />
          </div>

          <div class="input-container">
            <label for="age">Age</label>
            <input type="number" id="age" name="age" placeholder="Age" class="full-width-input" />
          </div>

          <div class="input-container" id="bio-container">
            <label for="bio">Biography</label>
            <textarea id="bio" name="bio" rows="4" placeholder="Biography" class="full-width-input"></textarea>
          </div>
        </div>
      </div>

      <div class="button-container">
        <button type="submit" class="submit">Create Account</button>
        <button type="reset">Clear Form</button>
      </div>
      <br>
    </form>
  </article>
</section>